body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(199, 199, 189);
}

header{
  height: 200px;
  background-image: url(../images/8.png);
  background-size: 100% 200px;
  background-repeat: no-repeat;
}
h1{
  font-style: italic;
  color: rgb(38, 108, 158);
  font-weight: bold;
  font-size: 130px;
  margin: auto;
}

#header {
  width: 300px;
  float: right;
}

ul, ol {
  list-style:none;
}

.nav li a {
  background-color:rgba(28, 82, 103, 0.58);
  color:#fff;
  text-decoration:none;
  padding:10px 20px;
  display:block;
}

.nav li a:hover {
  background-color:#434343;
}
.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}

.tecnologia {
  display: flex;
  justify-content: center;
}

.posicion{
  display: flex;
  justify-content: space-around;
}

.contenido{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.recuadro{
  position: absolute;
  top: 350px;
  left: 380px;
  background-color: white;
  width: 500px;
  height: 500px;
}
.recuadro2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}
.parrafo{
  align-items: flex-end;
  justify-content: center;
  align-content: stretch;
  margin: 70px;
  width: 300px;
  margin-bottom: -82px;
  margin-left: 9px
}

.recuadro2-5{
  display: flex;
  width: -webkit-fill-available;
}

.cerrar{
  font-size: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.invisible{
  display: none;
}

.nombreYMarca{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-content: stretch;
}

h2,p{
  margin:10px;
}

.botonera{
  display: flex;
  flex-direction: column;
}

button{
  height: 55px;
  border-radius: 50px;
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  background-color: white;
  border: 2px solid #2e518b;
  color: #c32424;
  margin: auto;
  font-size: 17px;
}

footer{
  height:100%;
  background-color:rgb(206, 231, 238);
  background-size: 100% 200px;
  background-repeat: no-repeat;
  display:-webkit-flex;
  display:-ms-flexbox;
  display: flex;
  flex-direction: row;
}

p {
  margin-bottom: 0.5em;
  text-align: center;
  color: rgb(127, 128, 18);
}

h3{
  color: rgb(127, 128, 18);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.iconos-footer .fa {
  font-size: 16px;
  margin: 0 4px 0 4px;
  width: 30px;
}

.fa {
  display: inline-block;
}

.copyright-bar{
  width: 100%;
}

.animation{
  width: 100%;
  background-color: white;
}

.animation p{
  color: blue;
}

.animation img{
  position:relative;
  left: 0;
}

.animation img.trasition{
  left: 600px;
  transition: left 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 95px;
    position: absolute;
    top: 55px;
    left: 37px;
  }
  #header{
    width: 300px;
  }

  .nav li a {
    padding: 10px 60px;
    background-color: rgba(39, 113, 142, 0.83)
  }
}

@media screen and (max-width: 768px){
  h1{
    font-size: 90px;
  }

  #header {
    width: 300px;
  }

  .nav li a {
    padding: 7px 30px;
  }
}

@media screen and (max-width: 480px) {

  .titulo{
    width: 100%;
    text-align: center;
  }

  .nav ul li a {
    background-color: rgba(39, 113, 142, 0.83);
}
  h1{
    font-size: 55px;
  }

  #header{
    width: 100%;
    float: none;
  }

  header {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  ul.nav {
    margin:0px 35px 4px 39px;
    padding: 0;
  }

.nav li a {
  padding:8px 1.8px;
}

h2{
  text-align: center;
}

.animation img.trasition{
  left: 150px;
  transition: left 0.5s ease-in-out;
}
.animation{
  width: 100%;
  background-color: black;
}

.animation p{
  color: white;
}
.recuadro{
  position: absolute;
  top: 210px;
  left: auto;
}
